
.features {
  padding: 8rem 0;
  display: flex;
  justify-content: center;
}

.cardsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 cards per row */
  gap: 2rem;
}

.featureCard {
  background-color: #0c132e;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  color: #ffffff;
  text-align: center;
  border: 2px solid #1f2852;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.featureCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.moduleNumber {
  font-size: 2rem;
  color: #E0E0E0;
  margin-bottom: 0.5rem;
}

.readButton {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  background-color: #16205a;
  /* background-color: #ff6b6b; */
  color: #fff;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

.readButton:hover {
  background-color: #1a245f;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .cardsWrapper {
    grid-template-columns: 1fr; /* 1 card per row on mobile */
    max-width: 350px;
  }

  .featureCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  }
  .features {
    padding: 4rem 0;
    display: flex;
    justify-content: center;
  }
}

