<?xml version="1.0"?>
<model>
  <name>humanoid_robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.urdf</sdf>
  <author>
    <name>Humanoid Robotics Team</name>
    <email>humanoid@robotics.edu</email>
  </author>
  <description>
    A simple humanoid robot model for simulation in Gazebo.
  </description>
</model>