
.heroBanner {
  padding: 6rem 1rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #0c132e; 
  border-bottom: 1px solid #20232F; /* Complementary border color */
}

[data-theme='dark'] .heroBanner {
  border-bottom: 1px solid #20232F;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 800;
  color: #E0E0E0; /* Light text for readability */
}

.heroSubtitle {
  font-size: 1.25rem;
  max-width: 50rem;
  margin: 1.5rem auto 0;
  color: #A0A0A0; /* Slightly darker light text for subtitle */
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2.5rem;
}

/* Responsive adjustments for the hero section */
@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem 1rem;
  }
  .heroTitle {
    font-size: 3rem;
  }
  .heroSubtitle {
    font-size: 1.1rem;
  }
  .buttons {
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.5rem;
    display: grid;
    margin-bottom: 0rem;
  }
}


